
<h1> New recipe Shared</h1>

<p>Subject: Recipe Manager{{ share.subject }} </p>
<p>Message: Hello i share your this recipe from recipe-manager.com {{ share.message }} to see this recipe go to the link <i> 127.0.0.1:8000/acceuil</i></p>
<p>Email: {{ share.email }} </p>


