
<h1> New Receipt Shared</h1>
<p>Subject:{{ share.subject }} </p>
<p>Message: Hello i share your this receipt from receipt-manager.com {{ share.message }} to see this receipt go to the link below</p>
<p>Link: {{ share.email }} </p>




