   <div class="container">

        <div class="row">
            {% for receipt in receipt %}

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ receipt.name }}</h5>
                            <p class="card-text">{{ receipt.description|slice(0, 50)~'...' }}</p>
                            <div class="align-items-center">
                                <div class="btn-group">
                                    <a href="" class="btn btn-lg btn-outline-primary">
                                    </a>
                                    <a class="btn btn-lg btn-outline-secondary" href="#">
                                       
                                    </a>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>